.header {
  color: white;
  background: rgb(112,179,215);
  background: linear-gradient(180deg, rgba(112,179,215,1) 20%, rgba(91,172,216,1) 100%);
  padding: 5px 80px;
}

.header > a:hover {
  color: white;
}

.header-name {
  color: white;
}

.header-menu > i {
  color: white;
  background-color: transparent;
}

.header-item > li > a {
  color: white;
  background-color: transparent;
}

.header-btn, .header-btn:focus {
  border: 0px solid white;
  background-color: transparent;
  margin-right: 2px;
  box-shadow: 0px 0px transparent;
}

.header-login {
  border: 0px solid white;
  background-color: transparent;
  margin-top: 4px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 2px;
}

.header-signup {
  border-radius: 15px;
  border: 0px solid white;
  background-color: #0C78B2;
  margin-top: 4px;
  padding-left: 25px;
  padding-right: 25px;
}

.header-profile {
  padding: 0px;
}

.header-profile-icon {
  height: 40px;
  width: 40px;
  font-size: 35px;
  text-align: center;
  padding: 0px;
}

.header-profile-img {
  height: 40px;
  width: 40px;
  border-radius: 49.9%;
  border: 1px solid white;
  padding: 0px;
}

.header-profile-menu-btn {
  color: black;
}

.header-find {
  width: 400px;
  margin-left: 5px;
}

@media (max-width: 768) {
  .header {
    padding: 5px 65px;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 5px 20px;
  }
}
